
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
}
.display-2 {
 color: gray;
}

body {
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    background-size: 300% 300%;
    position: relative;
} 

button:hover {
    background-color: whitesmoke;
    border: none;
}

.btn-primary, .btn-warning, button{
    background-color: #81D8D0!important;
    color: gray;
    border: gray;
}

.btn-warning:hover {
    background-color: whitesmoke !important;
    color: gray;
   border: none;
}

p{ 
    display: inline-block;
}

.the-modal {
    align-items: center;
    color: white;
    display: flex;
    flex: 1;
    height: 75%;
    justify-content: center;
    left: 50%;
    overflow: hidden;
    padding: 0 50px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%; 
    font-size: 12px;
}

p.the-modal {
  font-size: 24px !important;
}
  
  .the-modal::after {
    background-color: black;
    content: '';
    height: 100%;
    opacity: 0.9;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  
  /* this makes it so clicks outside the modal visible in the UI are ignored */
  .the-modal::before {
    content: '';
    height: 200%;
    position: absolute;
    width: 200%;
    z-index: -2;
  }
  
  .modal_container {
    overflow: scroll;
    padding: 20px 0;
  }
  
  .cancel {
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    right: 16px;
    top: 0px;
  }
  
  .job-item {
    list-style-type: none;
    border: 2px solid #81D8D0;
    border-radius: 8px;
    width: 100%;
    margin: 16px 0px;
    padding: 16px;
  }

  .job-item h2 {
    cursor: pointer;
    text-decoration: underline;
  }
  
  .card, .card-body{
    background-color: none !important;
    border-color: #81D8D0 !important;
  }