
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
}
.display-2 {
 color: whitesmoke;
}

body {
    width: 100%;
    height: 100vh;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(1, 90, 92) 0.1%, rgb(3, 54, 43) 94.2% );    
    background-size: 300% 300%;
    position: relative;
} 

button:hover {
    background-color:rgb(1, 90, 92) !important;
    border: none;
}

.btn-primary, .btn-warning, button{
    background-color: #F0DFBC !important;
    color: gray;
    border: gray;
}

.btn-warning:hover {
    background-color: rgb(1, 90, 92)  !important;
    color: whitesmoke;
   border: none;
}

p{ 
    display: inline-block;
}

.modal {
    align-items: center;
    color: white;
    display: flex;
    flex: 1;
    height: 90%;
    justify-content: center;
    left: 50%;
    padding: 0 50px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%; 
}

  
  .modal::after {
    background-color: black;
    content: '';
    height: 100%;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  
  /* this makes it so clicks outside the modal visible in the UI are ignored */
  .modal::before {
    content: '';
    height: 200%;
    position: absolute;
    width: 200%;
    z-index: -2;
  }
  
  
  .cancel {
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    right: 16px;
    top: 0px;
  }
  
  .job-item {
    list-style-type: none;
    border: 1px solid black;
    width: 100%;
    margin: 16px 0px;
    padding: 12px;
  }

  .job-item h2 {
    cursor: pointer;
  }
  