/*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

.container1 {
    display: flex;
    justify-content: flex-end;
    margin: 25px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
}
.jobcards-container {
    margin: 25px 20px 25px 20px;
}

 .btn-primary, .btn-warning, button, .btn-outline-danger{
    background-color: #F0DFBC !important;
    color: gray !important;
    border: gray;
}

button:hover {
    background-color:rgb(1, 90, 92) !important;
    border: none !important;
}

.btn-outline-danger:hover {
    background-color:rgb(1, 90, 92) !important;
    border: none !important;
    color: whitesmoke !important;
}


body {
    width: 100%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(1, 90, 92) 0.1%, rgb(3, 54, 43) 94.2% );    
    background-size: 300% 300%;
    position: relative;
} 

li {
    color: white;
}

.text-center, .email {
    color: #fff2d7;
}

body,
html {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

section {
  flex: 1;
}










