/*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

header{
    position: static;
    width: 100%;
}
.container1 {
    display: flex;
    justify-content: flex-end;
    margin: 25px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    background-color: #81D8D0;
}
.jobcards-container {
    margin: 25px 20px 25px 20px;
}

 .btn-primary, .btn-warning, button {
    background-color: #81D8D0 !important;
    color: gray !important;
    border: none !important;
}

.btn-outline-danger {
    background-color: #81D8D0 !important;
    color: #2B2D2F !important;
    border: none !important;
    justify-content: center;
    display: flex;
    align-items: center;

}

button:hover {
    background-color: whitesmoke !important;
    border: none !important;
    color: black;
}

.btn-outline-danger:hover {
    background-color: whitesmoke !important;
    border: none !important;
    color: whitesmoke !important;
}


body {
    width: 100%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(1, 90, 92) 0.1%, rgb(3, 54, 43) 94.2% );    
    background-size: 300% 300%;
    position: relative;
    margin: 0 0 100px;
} 

li {
    color: black;
}

.text-center, .email {
    color: black;
    text-align: center;
}

body,
html {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

section {
  flex: 1;
}

#jobs-container {
  height: 27rem;
}








